{% extends "layout.html" %}


{% block title %}

    Change_Password-Company Name

{% endblock %}


{% block body %}

        <div class="container" >
			<div class="formBorderBox">
				<div class="form">
					<br>
					<hr>
					<h3 class="formTitle">Change Password</h3>
					<hr>
					<br>
					<form  action="{{url_for('changing_password')}}" method="post">
                        <label>Current Password:</label>
                        <input type="password" name="current_password" id="current_password" placeholder="Current_Password" class="form-control" autocomplete="off" autofocus required>
						<br>
						<label>New Password:</label>
						<input type="password" name="new_password" id="new_password" placeholder="New_Password" class="form-control" autocomplete="off" required>
                        <br>
						<label>Re-enter Password:</label>
						<input type="password" name="re_new_password" id="re_new_password" placeholder="Re-enter_Password" class="form-control" autocomplete="off" required>
                        <br>
                        <br>
						<input type="submit" name="Update" value="Update" class="btn btn-block submitBtn">
					</form>
					<br>
					<hr>
					<br>
				</div>  
			</div>
		</div>

{% endblock %}
